body {
	background-color: ghostwhite;
	font-family:  sans-serif;
	font-style: italic;
	max-width: 650px;
	margin: 0 auto;
}
p {
  font-style: inherit;
  colour:  black;
  font-family: inherit;
}
img {
	width: 400px;
}
h1{
	font-family: inherit;

}